    <main id="main" class="main">
        <div class="container-products">
            {{#each myProducts}}
                <div class="card-product">
                    <div class="img-product">
                        <img src="{{productimg}}"
                            width="150px">
                    </div>
                    <div class="info-product">
                        <span class="codigo">{{productcod}}</span>
                        <h6 class="producto">{{productname}}</h6>
                        <h6 class="precio">{{productprice}}$</h6>
                        <input type="number" name="" id="" value="0" class="cantidad">
                        <button class="btn-min btn btn-outline-danger">-</button>
                        <button class="btn-mas btn btn-success">+</button>
                    </div>
                </div>
            {{else}}
            <h1>No tienes productos asignados, contacta con soporte técnico</h1>
            {{/each}}
        </div>
        <form action="/orders/add" method="post">
        <input type="text" value="" class="inputPedido display-none" name="pedido">
        <div class="container">
            <div class="cta">
                <button class="btn btn-outline-dark btn-volver">Volver</button>
                <button class="btn btn-dark btn-realizar-pedido" type="submit">Realizar pedido</button>
            </div>
        </div>
        </form>
    </main><!-- End #main -->
    <div class="alert-container">
        <div class="alert alert-success bg-success text-light border-0 alert-dismissible fade alert-pedido"
            role="alert">
            Pedido realizado exitosamente.
            <button type="button" class="btn-close btn-close-white" data-bs-dismiss="alert" aria-label="Close"></button>
        </div>
    </div>